{% extends "base.html" %}

{% load range_filter %}

{% block title %} Application form {% endblock %}

{% block content %}

<p> Welcome to JAM 2012 allotment! </p>

<p>Read the following instructions carefully before continuing. </p>

<hr/>
Choose the options as per your preference

<h3>You are eligible for {{first_paper}} 

{% comment %}
Checking if there is second paper and displaying its name.
{% endcomment %}

{% if np == 2  %}

and {{second_paper}}

{% endif %}

</h3>

<h4>For the paper(s) in which you are in the merit list, the following
options are available to you. Please rank your choices.</h4>

<p> Preferences will be assigned to options in the ascending order. Make sure it's 
<b>None</b> for all options after your last option(so that it is not considered).</p>

<hr/>

{% comment %}
</h3>
Listing the options for first test paper.
{% endcomment %}

<h3>Options available for {{first_paper}}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/allotter/{{user.username}}/submit/" method="post">
{% csrf_token %}

<table>
<tr>
<td><p>Programme Code </p></td>
<td><p>Programme Name </p></td>
<td><p>Insitute </p></td>
<td><p>Preference </p></td>
</tr>

{% for option in options_available_first %}     
    <tr> 
    <td><p> {{ option.opt_code }} </p></td>
    <td><p> {{option.opt_name }} </p></td>
    <td><p> {{option.opt_location }} </p></td>
    <td><select name="{{option.opt_name}}">
    {% for i in oafl_range %}
        <option value="{{i}}" selected="selected">Preference {{i}}</option>
    {% endfor %}
    <option value="{{option.opt_code}}">None</option>
    </select>
    </td>
    </tr>                
{% endfor %}
</table>

{% if np == 2  %}

<h3>Options available for {{second_paper}} </h3>

<table>
<tr>
<td><p>Programme Code </p></td>
<td><p>Programme Name </p></td>
<td><p>Insitute </p></td>
<td><p>Preference </p></td>
</tr>

{% for option in options_available_second %}     
    <tr> 
    <td><p> {{option.opt_code }} </p></td>
    <td><p> {{option.opt_name }} </p></td>
    <td><p> {{option.opt_location }} </p></td>
    <td><select name="{{option.opt_name}}">
    {% for i in oasl_range %}
        <option value="{{i}}" selected="selected">Preference {{i}}</option>
    {% endfor %}
    <option value="{{option.opt_code}}">None</option>
    </select>
    </td>
    </tr>                
{% endfor %}
</table>

{% endif %}

<input type="submit" name="save" value="Save" />
</form>

<form action="/allotter/logout/" method="post">
{% csrf_token %}
<input type="submit" name="logout" value="Quit Allotment" />
</form>

{% endblock content %}
