{% extends "base.html" %}

{% block title %}Application form {% endblock %}

{% block content %}

<h2>Hello, there</h2>

<p> Welcome <strong>{{user.first_name.title}} {{user.last_name.title}}</strong>, 
to JAM 2012 allotment! </p>

Choose the options as per your preference

<h3> {{user.first_name}} {{user.last_name}} {{user.user_name}}</h3>

<h3> {{subject}} </h3>

<form action="/allotter/save" method="post">
{% csrf_token %}

{% for option in options %} 
<input name="option" type="radio" value="{{option}}" />{{option.opt_name}}<br/>
{% endfor %}

<input type="submit" name="save" value="Save" />
</form>

<form action="/allotter/quit/" method="post">
{% csrf_token %}
<input type="submit" name="quit" value="Quit Allotment" />
</form>

<a href="{{URL_ROOT}}/allotter/logout/">Logout</a>
{% endblock content %}
