{% extends "base.html" %}

{% block title %}Options saved.{% endblock %}


{% block content %}

<h2> The following options have been saved. Please verify them before logging out.</h2>

<h3> Please keep in mind that, the next time you login you will be redirected to this page straightaway.</h3>

{% if options_chosen %}
<table class="table table-bordered table-striped">
<thead>
<td><p>Programme Code </p></td>
<td><p>Programme Name </p></td>
<td><p>Insitute </p></td>
<td><p>Preference </p></td>
</thead>

<tbody>
{% for option in options_chosen %}
    <tr> 
    <td><p> {{ forloop.counter }} </p></td>
    <td><p> {{ option.opt_code }} </p></td>
    <td><p> {{ option.opt_name }} </p></td>
    <td><p> {{ option.opt_location }} </p></td>
    </tr>
{% endfor %}
</tbody>
</table>

{% if email %}

An email with the list of options has been sent {{ email }} for book-keeping purposes.

{% endif %}

{% else %}

<h3> No Options were chosen, Press Edit Options to go back and select options otherwise Press logout to exit the allotment process </h3>

{% endif %}

<form action="/allotter/apply/" method="post">
{% csrf_token %}
<input type="submit" name="apply" value="Edit Options" class="btn" />
</form>

<form action="/allotter/get_pdf/" method="post">
{% csrf_token %}
<input type="submit" name="get_pdf" value="Generate PDF" class="btn" />
</form>

<form action="/allotter/logout/" method="post">
{% csrf_token %}
<input type="submit" name="logout" value="Quit Allotment" class="btn" />
</form>

{% endblock content %}


