{% extends "base.html" %}

{% load range_filter %}

{% block title %} JAM 2012 Application form {% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    if(($.browser.msie) && ($.browser.version <=8)){
        window.location="/browser-version"
    }
    if(($.browser.mozilla) && (parseInt($.browser.version) <=5)){
        window.location="/browser-version"
    }
    if(($.browser.webkit) && (parseInt($.browser.version <=530))){
        window.location="/browser-version"
    }
});
</script>
<script>
jQuery.fn.reset = function () {
  $(this).each (function() { this.reset(); });
}

$(document).ready(function(){   
    $("#check").click(function() {
        $("#checkButton").attr("disabled", !this.checked);
    });
});
</script>


<script>
$(document).ready(function(){
    $("#allotment-form").reset();
    $("select").attr('disabled', false)
    $("select").change(function () {
            var $this = $(this);
            var thisClass = $this.attr("class");
            var prevVal = $this.data("prev");
            var otherSelects = $("select").not(this);
            var otherSameSelects = $("select[class=" + thisClass + "]").not(this);
            if ($(this).val() !="0"){
                otherSelects.find("option[value=" + $(this).val() + "]").attr('disabled', true);
                otherSameSelects.find("option[value=" + $(this).val() + "]").attr('selected', 'selected');
                otherSameSelects.attr('disabled', true);
            }
            if (prevVal) {
                    otherSelects.find("option[value=" + prevVal + "]").attr('disabled', false);
            }

            $this.data("prev", $this.val());
    });
});
</script>
{% endblock %}

{% block content %}

<p> Welcome to JAM 2012 allotment! </p>

<p>Read the following instructions carefully before continuing. </p>

<hr/>

<h4>You are eligible for programmes on the basis of <b>{{first_paper}} ({{first_paper_code}}) </b>

{% comment %}
Checking if there is second paper and displaying its name.
{% endcomment %}

{% if np == 2  %}

and <b>{{second_paper}} ({{second_paper_code}})</b>

{% endif %}

</h4>

<br/> 

<p> Choose the programmes of interest that you are eligible for, based on the paper
qualified in JAM 2012. If you have qualified in more than one paper you are eligible 
for programmes covered by both papers. Mention the order of preference (1, 2, 3, etc) 
in the last column. In the 'Order of Preference' column, mark <b>None</b> against the programmes
that you are NOT interested in. <br/> <b>Please note:</b> The order of Preference plays an important role in
the admission process.</p>

<p>
<b>Note: </b>If you have qualified in two papers in JAM 2012 and would like to choose programmes eligible
under both the papers, the order of preferences should be combined. For example: a candidate
qualifying both BT and CY can have an order of preference such as 1 under BT, 2 under CY, 3
under BT and so on.
</p>
 


<hr/>

{% comment %}
</h3>
Listing the options for first test paper.
{% endcomment %}

<h3>Options available for {{first_paper}} ({{first_paper_code}})</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/allotter/submit/" method="post" id="allotment-form">
{% csrf_token %}

<table class="table table-bordered table-striped">
<thead>
<td><p>Programme Code </p></td>
<td><p>Programme Name </p></td>
<td><p>Insitute </p></td>
<td><p>Preference </p></td>
</thead>

<tbody>
{% for option in options_available_first %}     
    <tr> 
    <td><p> {{ option.opt_code }} </p></td>
    <td><p> {{option.opt_name }} </p></td>
    <td><p> {{option.opt_location }} </p></td>
    <td><select class="{{option.opt_code}}" name="{{option.opt_code}}">
    {% for i in options_range %}
        <option value="{{i}}" selected="selected">Preference {{i}}</option>
    {% endfor %}
    <option value="0" selected="selected">None</option>
    </select>
    </td>
    </tr>                
{% endfor %}
</tbody>
</table>

{% if np == 2  %}

<h3>Options available for {{second_paper}} ({{second_paper_code}}) </h3>

<table class="table table-bordered table-striped">
<thead>
<td><p>Programme Code </p></td>
<td><p>Programme Name </p></td>
<td><p>Insitute </p></td>
<td><p>Preference </p></td>
</thead>

<tbody>
{% for option in options_available_second %}     
    <tr> 
    <td><p> {{option.opt_code }} </p></td>
    <td><p> {{option.opt_name }} </p></td>
    <td><p> {{option.opt_location }} </p></td>
    <td><select class="{{option.opt_code}}" name="{{option.opt_code}}">
    {% for i in options_range %}
        <option value="{{i}}" selected="selected">Preference {{i}}</option>
    {% endfor %}
    <option value="0" selected="selected">None</option>
    </select>
    </td>
    </tr>                
{% endfor %}
</tbody>
</table>

{% endif %}


<div class="alert">

<p><input type="checkbox" name="check" id="check" /><label for="check">I hereby declare that the order of preference given by me for eligible programmes is final.</label> 
</p>
<input type="submit" name="save" value="Save" class="btn" id="checkButton" disabled="disabled" />
</div>
</form>
{% endblock content %}
