{% extends "base.html" %}

{% block title %}Details form {% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    if("{{ cat_flag}}" =="False"){
        $("#div_id_cat_check").hide()
    }
});
</script>
{% endblock scripts %}
{% block content %}
<h2>Please provide the following details.</h2>
<div class="alert alert-block">
<h4 class="alert-heading">Warning!</h4>
These details cannot be changed once entered.
</div>
Please provide the following details.

<hr/>


{% load crispy_forms_tags %}
{% crispy form %}



{% endblock content %}
