{% extends "base.html" %}


{% block title %}Login{% endblock title %}
{% block scripts %}
<script>
$(document).ready(function(){
    if(($.browser.msie) && ($.browser.version <=8)){
        window.location="/browser-version"
    }
    if(($.browser.mozilla) && (parseInt($.browser.version) <=7)){
        window.location="/browser-version"
    }
    if(($.browser.webkit) && (parseInt($.browser.version <=530))){
        window.location="/browser-version"
    }
});
</script>
{% endblock scripts %}
{% block content %}
<h2> Welcome to the JAM 2012 Admission website</h2>
<h2>Please fill in the required details to continue</h2>
<hr>

{% load crispy_forms_tags %}
{% crispy form %}
<!-- <a href="{{URL_ROOT}}/exam/forgotpassword/">Forgot Password</a> <br /> -->

{% endblock content %}

